<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
	<link rel="stylesheet" href="/css/ir_black.css" type="text/css" media="screen" title="no title" charset="utf-8">	
	<link rel="stylesheet" href="/css/github.css" type="text/css" media="screen" title="no title" charset="utf-8">    
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script> 
	<script src="/js/site.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/count.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/embed.js" type="text/javascript" charset="utf-8"></script> 
	<script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/default.min.css">
	<script src="highlight/highlight.pack.js"></script>    
	<script>hljs.initHighlightingOnLoad();</script>
	<script type="text/javascript">
	        // Google Analytics
	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-4565969-4']);
	      _gaq.push(['_trackPageview']);
	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();
	    </script>   
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="description" 
	content="<%= @context[:description] || 'Default description' %>" /> 
    <title>
	<% if @path == 'index' %>
	    Muraba
	<% elsif @path.split('/').compact.length == 4 %>
	    <%= title %> - Muraba
	<% else %>
	    <%= @path.capitalize.gsub(/[-]/, ' ') %> - Muraba
	<% end %>
	</title>
  </head>
  <body>
	<div id="header">
  </div>
  <div class="markdown">  
    <h1 class="logo-text"><a href="/">Muraba</a></h1>
    <h2 class="author"> <span>{</span> by <a class="me" href="/about#disqus_thread">Tim Romberg</a> <span>}</span></h2>
    <section>
      <%= yield %> 
    </section>
   </div>
    <footer>
		  <p>
        Powered by <a href="http://cloudhead.io/toto"> Toto</a>
 	      and <a href="http://disqus.com"> Disqus</a>
		  </p>
    </footer>
	    <script type="text/javascript">
	      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	      var disqus_shortname = 'le_gars'; // required: replace example with your forum shortname

	      /* * * DON'T EDIT BELOW THIS LINE * * */
	      (function () {
	          var s = document.createElement('script'); s.async = true;
	          s.type = 'text/javascript';
	          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	      }());
	    </script>
    </body>
</html>

